/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	body {
		background-color: greenyellow;
	}
	#search i{
		display: flex;
		justify-content: space-around;
	}

	.button {
		display: inline-block;
		border-radius: 2px;
		background-color: black;
		border: none;
		color: #FFFFFF;
		text-align: center;
		font-size: 24px;
		padding: 20px;
		width: 200px;
		transition: all 0.5s;
		cursor: pointer;
		margin: 5px;
	}

	.button span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;
	}

	.button span:after {
		content: '\00bb';
		position: absolute;
		opacity: 0;
		top: 0;
		right: -20px;
		transition: 0.5s;
	}

	.button:hover span {
		padding-right: 25px;
	}

	.button:hover span:after {
		opacity: 1;
		right: 0;
	}

	#log {
		display: flex;
		justify-content: space-between;
	}

	*ul {

		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	#myUL li {

		background-color: #eee;
		border: 1px solid #ddd;
		margin-top: -1px;
		background-color: #f6f6f6;
		padding: 12px;
		text-decoration: none;
		font-size: 18px;
		color: black;
		display: block;
	}

	#listas {
		display: flex;
		justify-content: space-around;
	}


	#dinamical ul,
	ol {
		/*margin: 0;padding: 0;*/
		list-style: none;
	}

	li {
		background: #37BC9B;
		color: #fff;
		margin: 0 0 20px 0;
		padding: 1px;
		position: relative;
		top: 1em;
		border-radius: 0em 2px 1em 1em;
		/*        padding-left: 2em;*/
		font-size: 1.2em;
		font-family: Constantia;
		list-style: none;
	}

	li:before {
		display: inline-block;
		text-align: center;
		font-size: 2em;
		line-height: 1.3em;
		background-color: #48CFAD;
		padding: 4px;
		font-weight: bold;
		position: absolute;
		top: 0;
		left: -20px;
		border-radius: 50%;
		font-family: exo;
	}


	li:nth-child(even) {
		background-color: #434A54;
	}

	#back {
		padding-bottom: 0px;
		padding-top: opx;
	}

	#botmenu {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	p {

		background-color: #5F9EA0;
		text-align: justify;
		font-size: 20px;
		font-family: Constantia;
		border-radius: 10px;
	}



	@media only screen and (max-device-width: 480px) {
		div#botmenu {
			width: 400px;
		}

		div#header {
			height: 93px;
			position: relative;
		}

		div#header h1 {
			font-size: 140%;
		}

		#content {
			float: none;
			width: 100%;
		}

		#navigation {
			float: none;
			width: auto;
		}
	}

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

	body {
		background-color: greenyellow;
		display: flex;
		flex-direction: column;
		margin-top: 0;
	}

	#botmenu div {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	

	}

	.button {
		display: inline-table;
		border-radius: 2px;
		background-color: black;
		border: none;
		color: #FFFFFF;
		text-align: center;
		font-size: 20px;
		padding: 10px;
		width: 200px;
		transition: all 0.5s;
		cursor: pointer;
		margin: 5px;
	}

	.button span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;
	}

	.button span:after {
		content: '\00bb';
		position: absolute;
		opacity: 0;
		top: 0;
		right: -20px;
		transition: 0.5s;
	}

	.button:hover span {
		padding-right: 25px;
	}

	.button:hover span:after {
		opacity: 1;
		right: 0;
	}

	#log {
		display: flex;
		justify-content: space-between;
		margin-top: 0;
		margin-bottom: 0;
	}

	*ul {

		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	#myUL li {

		background-color: #eee;
		border: 1px solid #ddd;
		margin-top: -1px;
		background-color: #f6f6f6;
		padding: 12px;
		text-decoration: none;
		font-size: 18px;
		color: black;
		display: block;
	}

	#listas {
		display: flex;
		justify-content: space-around;
	}

	#dinamical ul,
	ol {
		/*margin: 0;padding: 0;*/
		list-style: none;
	}

	li {
		background: #37BC9B;
		color: #fff;
		margin: 0 0 20px 0;
		padding: 1px;
		position: relative;
		top: 1em;
		border-radius: 0em 2px 1em 1em;
		font-size: 1.2em;
		font-family: Constantia;
		list-style: none;
	}

	li:before {
		display: inline-block;
		text-align: center;
		font-size: 2em;
		line-height: 1.3em;
		background-color: #48CFAD;
		padding: 4px;
		font-weight: bold;
		position: absolute;
		top: 0;
		left: -20px;
		border-radius: 50%;
		font-family: exo;
	}


	li:nth-child(even) {
		background-color: #434A54;
	}

	#back {
		padding-bottom: 0px;
		padding-top: opx;
	}

	#botmenu {
		padding-top: 0px;
		padding-bottom: 0px;
		display: flex;
    	flex-wrap: wrap;
    	justify-content: center;
	}

	p {

		background-color: #5F9EA0;
		text-align: justify;
		font-size: 20px;
		font-family: Constantia;
		border-radius: 10px;
	}


}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	body {
		background-color: greenyellow;
	}

	#botmenu div {
		display: flex;
		justify-content: center;
		margin-top: 30px;

	}

	.button {
		display: inline-table;
		border-radius: 2px;
		background-color: black;
		border: none;
		color: #FFFFFF;
		text-align: center;
		font-size: 24px;
		padding: 20px;
		width: 200px;
		transition: all 0.5s;
		cursor: pointer;
		margin: 5px;
	}

	.button span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;
	}

	.button span:after {
		content: '\00bb';
		position: absolute;
		opacity: 0;
		top: 0;
		right: -20px;
		transition: 0.5s;
	}

	.button:hover span {
		padding-right: 25px;
	}

	.button:hover span:after {
		opacity: 1;
		right: 0;
	}

	#log {
		display: flex;
		justify-content: space-between;
	}

	*ul {

		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	#myUL li {

		background-color: #eee;
		border: 1px solid #ddd;
		margin-top: -1px;
		background-color: #f6f6f6;
		padding: 12px;
		text-decoration: none;
		font-size: 18px;
		color: black;
		display: block;
	}

	#listas {
		display: flex;
		justify-content: space-around;
	}

	#dinamical ul,
	ol {
		/*margin: 0;padding: 0;*/
		list-style: none;
	}

	li {
		background: #37BC9B;
		color: #fff;
		margin: 0 0 20px 0;
		padding: 5px;
		position: relative;
		top: 1em;
		border-radius: 0em 2px 1em 1em;
		font-size: 1.2em;
		font-family: Constantia;
		list-style: none;
	}

	li:before {
		display: inline-block;
		text-align: center;
		font-size: 2em;
		line-height: 1.3em;
		background-color: #48CFAD;
		padding: 4px;
		font-weight: bold;
		position: absolute;
		top: 0;
		left: -20px;
		border-radius: 50%;
		font-family: exo;
	}


	li:nth-child(even) {
		background-color: #434A54;
	}

	#back {
		padding-bottom: 0px;
		padding-top: opx;
	}

	#botmenu {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	p {

		background-color: #5F9EA0;
		text-align: justify;
		font-size: 20px;
		font-family: Constantia;
		border-radius: 10px;
	}


}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	body {
		background-color: greenyellow;
	}

	#botmenu div {
		display: flex;
		justify-content: center;
		margin-top: 50px;

	}

	.button {
		display: inline-table;
		border-radius: 2px;
		background-color: black;
		border: none;
		color: #FFFFFF;
		text-align: center;
		font-size: 35px;
		padding: 20px;
		width: 200px;
		transition: all 0.5s;
		cursor: pointer;
		margin: 5px;
	}

	.button span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;
	}

	.button span:after {
		content: '\00bb';
		position: absolute;
		opacity: 0;
		top: 0;
		right: -20px;
		transition: 0.5s;
	}

	.button:hover span {
		padding-right: 25px;
	}

	.button:hover span:after {
		opacity: 1;
		right: 0;
	}

	#log {
		display: flex;
		justify-content: space-between;
	}

	*ul {

		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	#myUL li {

		background-color: #eee;
		border: 1px solid #ddd;
		margin-top: -1px;
		background-color: #f6f6f6;
		padding: 12px;
		text-decoration: none;
		font-size: 18px;
		color: black;
		display: block;
	}

	#listas {
		display: flex;
		justify-content: space-around;
	}

	#dinamical ul,
	ol {
		/*margin: 0;padding: 0;*/
		list-style: none;
	}

	li {
		background: #37BC9B;
		color: #fff;
		margin: 0 0 20px 0;
		padding: 5px;
		position: relative;
		top: 1em;
		border-radius: 0em 2px 1em 1em;
		font-size: 1.2em;
		font-family: Constantia;
		list-style: none;
	}

	li:before {
		display: inline-block;
		text-align: center;
		font-size: 2em;
		line-height: 1.3em;
		background-color: #48CFAD;
		padding: 4px;
		font-weight: bold;
		position: absolute;
		top: 0;
		left: -20px;
		border-radius: 50%;
		font-family: exo;
	}


	li:nth-child(even) {
		background-color: #434A54;
	}

	#back {
		padding-bottom: 0px;
		padding-top: opx;
	}

	#botmenu {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	p {

		background-color: #5F9EA0;
		text-align: justify;
		font-size: 20px;
		font-family: Constantia;
		border-radius: 10px;
	}


}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	body {
		background-color: greenyellow;
	}

	#botmenu div {
		display: flex;
		justify-content: center;
		margin-top: 10px;

	}

	.button {
		display: inline-table;
		border-radius: 2px;
		background-color: black;
		border: none;
		color: #FFFFFF;
		text-align: center;
		font-size: 30px;
		padding: 30px;
		width: 200px;
		transition: all 0.5s;
		cursor: pointer;
		margin: 0px;
	}

	.button span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;
	}

	.button span:after {
		content: '\00bb';
		position: absolute;
		opacity: 0;
		top: 0;
		right: -20px;
		transition: 0.5s;
	}

	.button:hover span {
		padding-right: 25px;
	}

	.button:hover span:after {
		opacity: 1;
		right: 0;
	}

	#log {
		display: flex;
		justify-content: space-between;
	}

	*ul {

		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	#myUL li {

		background-color: #eee;
		border: 1px solid #ddd;
		margin-top: -1px;
		background-color: #f6f6f6;
		padding: 12px;
		text-decoration: none;
		font-size: 18px;
		color: black;
		display: block;
	}

	#listas {
		display: flex;
		justify-content: space-around;
	}

	#dinamical ul,
	ol {
		list-style: none;
	}

	li {
		background: #37BC9B;
		color: #fff;
		margin: 0 0 20px 0;
		padding: 5px;
		position: relative;
		top: 1em;
		border-radius: 0em 2px 1em 1em;
		font-size: 1.2em;
		font-family: Constantia;
		list-style: none;
	}

	li:before {
		display: inline-block;
		text-align: center;
		font-size: 2em;
		line-height: 1.3em;
		background-color: #48CFAD;
		padding: 4px;
		font-weight: bold;
		position: absolute;
		top: 0;
		left: -20px;
		border-radius: 50%;
		font-family: exo;
	}


	li:nth-child(even) {
		background-color: #434A54;
	}

	#back {
		padding-bottom: 0px;
		padding-top: opx;
	}

	#botmenu {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	p {

		background-color: #5F9EA0;
		text-align: justify;
		font-size: 20px;
		font-family: Constantia;
		border-radius: 10px;
	}
	#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }


}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

	body {
		background-color: greenyellow;

	}

	#navegador {
		width: 400px;
	}

	#info {
		text-align: center;
	}

	.footer {
		text-align: center;

	}

	.button {
		display: inline-block;
		border-radius: 2px;
		background-color: black;
		border: none;
		color: #FFFFFF;
		text-align: center;
		font-size: 24px;
		padding: 20px;
		width: 200px;
		transition: all 0.5s;
		cursor: pointer;
		margin: 5px;
	}

	.button span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;
	}

	.button span:after {
		content: '\00bb';
		position: absolute;
		opacity: 0;
		top: 0;
		right: -20px;
		transition: 0.5s;
	}

	.button:hover span {
		padding-right: 25px;
	}

	.button:hover span:after {
		opacity: 1;
		right: 0;
	}

	#log {
		display: flex;
		justify-content: space-between;
	}

	*ul {

		list-style-type: none;
		padding: 0;
		margin: 0;
	}


	#myUL li {

		background-color: #eee;
		border: 1px solid #ddd;
		margin-top: -1px;
		background-color: #f6f6f6;
		padding: 12px;
		text-decoration: none;
		font-size: 18px;
		color: black;
		display: block;
	}

	#listas {
		display: flex;
		justify-content: space-around;
	}

	#dinamical ul,
	ol {
		/*margin: 0;padding: 0;*/
		list-style: none;
	}

	li {
		background: #37BC9B;
		color: #fff;
		margin: 0 0 20px 0;
		padding: 1px;
		position: relative;
		top: 1em;
		border-radius: 0em 2px 1em 1em;
		/*        padding-left: 2em;*/
		font-size: 1.2em;
		font-family: Constantia;
		list-style: none;
	}

	li:before {
		display: inline-block;
		text-align: center;
		font-size: 2em;
		line-height: 1.3em;
		background-color: #48CFAD;
		padding: 4px;
		font-weight: bold;
		position: absolute;
		top: 0;
		left: -20px;
		border-radius: 50%;
		font-family: exo;
	}


	li:nth-child(even) {
		background-color: #434A54;
	}

	#back {
		padding-bottom: 0px;
		padding-top: opx;
	}

	#botmenu {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	p {

		background-color: #5F9EA0;
		text-align: justify;
		font-size: 20px;
		font-family: Constantia;
		border-radius: 10px;
	}
}







